# core
mkdocs==1.6.1
mkdocs-material==9.7.0

# Jupyter integration
mkdocs-jupyter==0.25.1

# useful plugins you had
mkdocs-macros-plugin==1.3.9
mkdocs-glightbox==0.4.0
mkdocs-git-revision-date-localized-plugin==1.5.0

# Markdown / notebooks
pymdown-extensions==10.17.1
nbconvert==7.16.6
ipykernel==6.31.0

# live reload / server
livereload==2.7.1
tornado==6.5.2

# Jupyter support libs (match reasonably recent, not bleeding-edge)
jupyter-client==8.3.0
jupyter-server==2.9.1

# Para os Notebooks
numpy>=2.3
matplotlib>=3.10
ipycanvas>=0.14
ipywidgets>=8.1